# SCRAPING DE LG OUTLET

Realizado por Lidia Viñuales

**Importo todas las librerias que necesito para realizar el proyecto y las opciones necesarias:**

In [1]:
import pandas as pd
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
import re
import numpy as np
import math

In [2]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By

PATH = 'driver/chromedriver.exe'

driver = webdriver.Chrome()
driver.get('https://www.google.es')

**Cargo la tienda LG en Selenium**

In [4]:
url = 'https://www.tiendalgonline.com/oled-tv-lg-outlet/'

In [5]:
driver.get(url)

**Deniego las coockies de la página LG**

In [6]:
driver.find_element(By.CSS_SELECTOR, '#CybotCookiebotDialogBodyLevelButtonLevelOptinDeclineAll').click()  #clicko en la caja

# **Voy a scrapear los datos que considero relevantes para realizar el DataFrame:**

## NOMBRES

In [7]:
scrap_nombres=driver.find_elements(By.XPATH, '//h3//a')

In [8]:
#Observo que hay dentro de lo que he scrapeado, pongo el índice 'n' para ver bien los elementos vacíos que coge.
n=-1
for i in scrap_nombres:
    n+=1
    print (n, i.text)

0
1
2 Outlet TV LG SIGNATURE 8K OLED , 222cm (88")
3
4
5
6 Outlet TV LG 4K OLED evo, GALLERY, 164cm (65")
7
8
9
10 Outlet TV LG OLED 4K de 65'' B3, Procesador Gran...
11
12
13
14 Outlet TV LG 4K OLED evo, SmartTV, 122 cm (48")
15
16
17
18 Outlet TV LG 4K OLED EVO, SmartTV, 120 cm (48")
19
20
21
22 Outlet TV LG OLED evo 4K de 77'' G3, Procesador...
23
24
25
26 Outlet Mando universal para televisores LG por...
27

**Analizo los elementos vacíos scrapeados.**

**Ahora elimino los elementos vacíos y paso el texto a minúsculas:**

In [9]:
nombre=[]
for i in scrap_nombres:
    nombre.append(i.text.lower())
    for e in nombre:
        if e=='':
            nombre.remove(e)
    
nombre

['outlet tv lg signature 8k oled , 222cm (88")',
 'outlet tv lg 4k oled evo, gallery, 164cm (65")',
 "outlet tv lg oled 4k de 65'' b3, procesador gran...",
 'outlet tv lg 4k oled evo, smarttv, 122 cm (48")',
 'outlet tv lg 4k oled evo, smarttv, 120 cm (48")',
 "outlet tv lg oled evo 4k de 77'' g3, procesador...",
 'outlet mando universal para televisores lg por...']

## ID

In [10]:
url = 'https://www.tiendalgonline.com/oled-tv-lg-outlet/'
driver.get(url)

In [11]:
scrap_ids=driver.find_elements(By.CLASS_NAME, 'referencia.grey-regular')

In [12]:
#Observo que hay dentro de lo que he scrapeado, pongo el índice 'n' para ver bien los elementos vacíos que coge.
n=-1
for i in scrap_ids:
    n+=1
    print (n, i.text)

0 OLED88Z29LA.AEU
1
2 OLED65G26LA.AEU
3
4 OLED65B36LA.AEUD
5
6 OLED48C25LB.AEU
7
8 OLED48C25LA.AEU
9
10 OLED77G36LA.AEU
11
12 SR23GA.AEU
13

In [13]:
#Elimino los elementos vacíos y los cambio a minúsculas.
id=[]
for i in scrap_ids:
    id.append(i.text.lower())
    for e in id:
        if e=='':
            id.remove(e)
id

['oled88z29la.aeu',
 'oled65g26la.aeu',
 'oled65b36la.aeud',
 'oled48c25lb.aeu',
 'oled48c25la.aeu',
 'oled77g36la.aeu',
 'sr23ga.aeu']

## ORIGINAL PRICES

In [14]:
scrap_orig_p=driver.find_elements(By.CLASS_NAME, 'price.product-price.old-price.light-grey2-regular')

In [15]:
#Observo que hay dentro de lo que he scrapeado, pongo el índice 'n' para ver bien los elementos vacíos que coge.
n=-1
for i in scrap_orig_p:
    n+=1
    print (n, i.text)

0 PVPR 24.999,00 €
1
2 PVPR 3.299,00 €
3
4 PVPR 2.699,00 €
5
6 PVPR 1.599,00 €
7
8 PVPR 1.599,00 €
9
10 PVPR 5.199,00 €
11

In [16]:
#Elimino los elementos vacíos
price=[]
for i in scrap_orig_p:
    price.append(i.text)
    for e in price:
        if e=='':
            price.remove(e)
price

['PVPR 24.999,00 €',
 'PVPR 3.299,00 €',
 'PVPR 2.699,00 €',
 'PVPR 1.599,00 €',
 'PVPR 1.599,00 €',
 'PVPR 5.199,00 €']

In [17]:
#Limpio los elementos:
patron=r'(\d[\d,.]+)'                                            #el formato con el que me quiero quedar(unicamente los números)
for i in range(len(price)):
    if isinstance(price[i], str):
        numeros_encontrados = re.findall(patron, price[i])
        if numeros_encontrados:                                      #en el siguiente código paso a formato número los elementos
            numero_con_puntos = numeros_encontrados[0]    
            numero_con_comas = numero_con_puntos.replace('.', '').replace(',', '.')
            price[i] = float(numero_con_comas)

print(price)

[24999.0, 3299.0, 2699.0, 1599.0, 1599.0, 5199.0]

## OUTLET PRICES

In [18]:
scrap_out_p=driver.find_elements(By.CLASS_NAME, 'price.product-price.final-price.orange-bold')

In [19]:
#Observo que hay dentro de lo que he scrapeado, pongo el índice 'n' para ver bien los elementos vacíos que coge.
n=-1
for i in scrap_out_p:
    n+=1
    print (n, i.text)

0 10.999,00 €
1 10.999,00 €
2
3
4 1.799,01 €
5 1.799,01 €
6
7
8 1.529,01 €
9 1.529,01 €
10
11
12 939,11 €
13 939,11 €
14
15
16 938,68 €
17 938,68 €
18
19
20 3.419,00 €
21 3.419,00 €
22
23

In [20]:
#veo que hay elementos duplicados, entonces le digo que si están seguidos dos valores iguales se quede solo con el primero
#(me elimina también los espacios duplicados)
n = -1
i = 0
while i < len(scrap_out_p) - 1:
    n += 1
    elemento_actual = scrap_out_p[i].text.strip()
    elemento_siguiente = scrap_out_p[i + 1].text.strip()

    if elemento_actual == elemento_siguiente:
        scrap_out_p.pop(i + 1) 
    else:
        i += 1

In [21]:
#miro los elementos que me quedan en la lista
n=-1
for i in scrap_out_p:
    n+=1
    print (n, i.text)

0 10.999,00 €
1
2 1.799,01 €
3
4 1.529,01 €
5
6 939,11 €
7
8 938,68 €
9
10 3.419,00 €
11

In [22]:
#elimino los elementos vacíos
outlet_price=[]
for i in scrap_out_p:
    outlet_price.append(i.text)
    for e in outlet_price:
        if e=='':
            outlet_price.remove(e)
outlet_price

['10.999,00 €',
 '1.799,01 €',
 '1.529,01 €',
 '939,11 €',
 '938,68 €',
 '3.419,00 €']

In [23]:
#limpio los elementos
patron=r'(\d[\d,.]+)'
for i in range(len(outlet_price)):
    if isinstance(outlet_price[i], str):
        numeros_encontrados = re.findall(patron, outlet_price[i])
        if numeros_encontrados:
            numero_con_puntos = numeros_encontrados[0]
            numero_con_comas = numero_con_puntos.replace('.', '').replace(',', '.')
            outlet_price[i] = float(numero_con_comas)
print(outlet_price)

[10999.0, 1799.01, 1529.01, 939.11, 938.68, 3419.0]

## UNIQUE PRICES

**¿Qué sucede? Que los productos que solo tienen un precio en outlet están en otra clase.**

**Entonces voy a crear una lista con ese scraping y de ahi los añadere a la lista de outlet_price**

In [24]:
scrap_unique_p=driver.find_elements(By.CLASS_NAME, 'price.product-price.final-price.red-bold')

In [25]:
n=-1
for i in scrap_unique_p:
    n+=1
    print (n, i.text)

0 PVPR 9,87 €
1 PVPR 9,87 €
2
3

In [26]:
n = -1
i = 0
while i < len(scrap_unique_p) - 1:
    n += 1
    elemento_actual = scrap_unique_p[i].text.strip()
    elemento_siguiente = scrap_unique_p[i + 1].text.strip()

    if elemento_actual == elemento_siguiente:
        scrap_unique_p.pop(i + 1) 
    else:
        i += 1

In [27]:
n=-1
for i in scrap_unique_p:
    n+=1
    print (n, i.text)

0 PVPR 9,87 €
1

In [28]:
unique_price=[]
for i in scrap_unique_p:
    unique_price.append(i.text)
    for e in unique_price:
        if e=='':
            unique_price.remove(e)
unique_price

['PVPR 9,87 €']

In [29]:
patron=r'(\d[\d,.]+)'
for i in range(len(unique_price)):
    if isinstance(unique_price[i], str):
        numeros_encontrados = re.findall(patron, unique_price[i])
        if numeros_encontrados:
            numero_con_puntos = numeros_encontrados[0]
            numero_con_comas = numero_con_puntos.replace('.', '').replace(',', '.')
            unique_price[i] = float(numero_con_comas)
print(unique_price)

[9.87]

### Añado 'Unique Price' a 'Outlet Price'

In [30]:
outlet_price=outlet_price+unique_price
outlet_price

[10999.0, 1799.01, 1529.01, 939.11, 938.68, 3419.0, 9.87]

### Añado a 'Outlet Price' valores 'NaN' según los productos que unicamente tienen 'Outlet Price'

Realizo esto porque considero que los productos que unicamente tienen un precio en la tienda Outlet se corresponden al Outlet Price, ya que en la tienda normal no nos encontramos estos productos.

In [31]:
price_nan=[]
for i in range(len(unique_price)):
    price_nan.append(np.nan)
price_nan

[nan]

In [32]:
price=price+price_nan

In [33]:
price

[24999.0, 3299.0, 2699.0, 1599.0, 1599.0, 5199.0, nan]

## DESCUENTOS

Calculo los descuentos de los precios de los productos, para los productos que unicamente tienen precio outlet aparecerán como valor NaN.

In [34]:
descuentos = []
for price_value, outlet_price_value in zip(price, outlet_price):
    if not math.isnan(price_value) and not math.isnan(outlet_price_value):
        #aplico la fórmula del descuento: 
        #(precio inicial-precio final)/precio inicial
        #(precio tienda-precio outlet)/precio tienda
        descuento = (1 - (outlet_price_value / price_value)) * 100 
        descuentos.append(round(descuento))
    else:
        descuentos.append(np.nan)
descuentos

[56, 45, 43, 41, 41, 34, nan]

# INDICE

Genero un indice para añadir esta columna al df que voy a crear:

In [35]:
lg_indice = list(range(1, len(id) + 1))

## CREACIÓN DEL DATA FRAME DE LG

**Creo un Data Frame con todas las listas hechas hasta el momento:**

In [36]:
lg=pd.DataFrame({'lg_indice':lg_indice,'lg_id':id, 'lg_nombre':nombre, 'lg_precio':price, 'lg_precio_outlet':outlet_price, 'lg_descuento': descuentos})

In [37]:
lg

,lg_indice,lg_id,lg_nombre,lg_precio,lg_precio_outlet,lg_descuento
0,1,oled88z29la.aeu,"outlet tv lg signature 8k oled , 222cm (88"")",24999.0,10999.00,56.0
1,2,oled65g26la.aeu,"outlet tv lg 4k oled evo, gallery, 164cm (65"")",3299.0,1799.01,45.0
2,3,oled65b36la.aeud,"outlet tv lg oled 4k de 65'' b3, procesador gr...",2699.0,1529.01,43.0
3,4,oled48c25lb.aeu,"outlet tv lg 4k oled evo, smarttv, 122 cm (48"")",1599.0,939.11,41.0
4,5,oled48c25la.aeu,"outlet tv lg 4k oled evo, smarttv, 120 cm (48"")",1599.0,938.68,41.0
5,6,oled77g36la.aeu,"outlet tv lg oled evo 4k de 77'' g3, procesado...",5199.0,3419.00,34.0
6,7,sr23ga.aeu,outlet mando universal para televisores lg por...,NaN,9.87,NaN

In [38]:
lg.lg_id

0     oled88z29la.aeu
1     oled65g26la.aeu
2    oled65b36la.aeud
3     oled48c25lb.aeu
4     oled48c25la.aeu
5     oled77g36la.aeu
6          sr23ga.aeu
Name: lg_id, dtype: object

**Añado una columna nueva al df con una columna de id universal para las empresas retailers**

In [39]:
id=[]
for e in lg.lg_id:
    #reemplazo las terminaciones del lg_id que no sirven para los retailers por vacío
    if '.aeu' in e:
        e = e.replace('.aeu', '')          
    if '.aeud' in e:
        e = e.replace('.aeud', '')
    id.append(e)
id

['oled88z29la',
 'oled65g26la',
 'oled65b36lad',
 'oled48c25lb',
 'oled48c25la',
 'oled77g36la',
 'sr23ga']

In [40]:
lg['id']=id

In [41]:
lg

,lg_indice,lg_id,lg_nombre,lg_precio,lg_precio_outlet,lg_descuento,id
0,1,oled88z29la.aeu,"outlet tv lg signature 8k oled , 222cm (88"")",24999.0,10999.00,56.0,oled88z29la
1,2,oled65g26la.aeu,"outlet tv lg 4k oled evo, gallery, 164cm (65"")",3299.0,1799.01,45.0,oled65g26la
2,3,oled65b36la.aeud,"outlet tv lg oled 4k de 65'' b3, procesador gr...",2699.0,1529.01,43.0,oled65b36lad
3,4,oled48c25lb.aeu,"outlet tv lg 4k oled evo, smarttv, 122 cm (48"")",1599.0,939.11,41.0,oled48c25lb
4,5,oled48c25la.aeu,"outlet tv lg 4k oled evo, smarttv, 120 cm (48"")",1599.0,938.68,41.0,oled48c25la
5,6,oled77g36la.aeu,"outlet tv lg oled evo 4k de 77'' g3, procesado...",5199.0,3419.00,34.0,oled77g36la
6,7,sr23ga.aeu,outlet mando universal para televisores lg por...,NaN,9.87,NaN,sr23ga

**Exporto el DataFrame a un CSV para cargarlo en Mysql:**

In [42]:
#lg.to_csv('../csv/tablas_mysql/lg.csv', index=False)

# Exporto a MySQL utilizando Alchemy

In [46]:
from sqlalchemy import create_engine

from password import password

In [47]:
str_conn = f'mysql+pymysql://root:{password}@localhost:3306/productos_lg'
cursor = create_engine(str_conn)

In [48]:
lg.to_sql('lg',con=cursor, if_exists='append', index=False)

7