# EXTRACCIÓN Y LIMPIEZA DE TV BRANDS MARKET

Realizado por Lidia Viñuales

In [1]:
#%pip install pymysql

In [2]:
import pandas as pd
import numpy as np
import re
import warnings 
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
import pymysql
from sqlalchemy import create_engine

Leo el csv extraído de Kaggle extraído del siguiente link:
https://www.kaggle.com/code/devsubhash/tv-brands-market-analysis-eda

In [3]:
tv=pd.read_csv('../csv/df_kaggle/TV_final.csv', encoding='iso-8859-1')

In [4]:
tv.head()

,Brand,Resolution,Size,Selling Price,Original Price,Operating System,Rating
0,TOSHIBA,Ultra HD LED,55,37999,54990,VIDAA,4.3
1,TCL,QLED Ultra HD,55,52999,129990,Android,4.4
2,realme,HD LED,32,13999,17999,Android,4.3
3,Mi,HD LED,32,14999,19999,Android,4.4
4,realme,HD LED,32,12999,21999,Android,4.3

**Convierto los nombres de las columnas todas en minúsculas**

In [5]:
tv.columns=tv.columns.str.lower()

In [6]:
tv.columns

Index(['brand', 'resolution', 'size ', 'selling price', 'original price',
       'operating system', 'rating'],
      dtype='object')

**He visto que size tiene un espacio al final, entonces lo elimino**

In [7]:
tv = tv.rename(columns={'size ': 'size'})

In [8]:
tv.columns

Index(['brand', 'resolution', 'size', 'selling price', 'original price',
       'operating system', 'rating'],
      dtype='object')

**Convierto los nombres de la columna brand en minúsculas**

In [9]:
tv.brand.unique()

array(['TOSHIBA', 'TCL ', 'realme ', 'Mi ', 'OnePlus', 'Hisense', 'LG ',
       'MarQ by Flipkart', 'iFFALCON by TCL', 'Coocaa ', 'SAMSUNG',
       'Infinix', 'Vu', 'Nokia ', 'Thomson', 'SONY ', 'KODAK ',
       'MOTOROLA', 'PHILIPS', 'Acer', 'Blaupunkt', 'Adsun', 'T-Series',
       'Panasonic', 'Micromax', 'Sansui ', 'Croma ', 'Candes ', 'Dyanora',
       'Haier ', 'Onida', 'RGL ', 'Lloyd ', 'LumX ', 'Onix ', 'IMPEX ',
       'BPL ', 'CloudWalker', 'Oxygen ', 'Power Guard', 'Akai ', 'VG ',
       'Sun King', 'Compaq ', 'HUIDI ', 'Intex ', 'DETEL ', 'JVC',
       'G-TEN ', 'Skyworth', 'Maser ', 'Sanyo ', 'MURPHY ', 'Samsung',
       'Dektron', 'Sharp ', 'KRISONS', 'Weston ', 'AISEN  '], dtype=object)

In [10]:
tv.brand=tv.brand.str.lower()

In [11]:
tv.brand.unique()

array(['toshiba', 'tcl ', 'realme ', 'mi ', 'oneplus', 'hisense', 'lg ',
       'marq by flipkart', 'iffalcon by tcl', 'coocaa ', 'samsung',
       'infinix', 'vu', 'nokia ', 'thomson', 'sony ', 'kodak ',
       'motorola', 'philips', 'acer', 'blaupunkt', 'adsun', 't-series',
       'panasonic', 'micromax', 'sansui ', 'croma ', 'candes ', 'dyanora',
       'haier ', 'onida', 'rgl ', 'lloyd ', 'lumx ', 'onix ', 'impex ',
       'bpl ', 'cloudwalker', 'oxygen ', 'power guard', 'akai ', 'vg ',
       'sun king', 'compaq ', 'huidi ', 'intex ', 'detel ', 'jvc',
       'g-ten ', 'skyworth', 'maser ', 'sanyo ', 'murphy ', 'dektron',
       'sharp ', 'krisons', 'weston ', 'aisen  '], dtype=object)

In [12]:
tv.resolution.unique()

array(['Ultra HD LED', 'QLED Ultra HD', 'HD LED', 'Full HD LED',
       'HD Plasma'], dtype=object)

In [13]:
tv.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 912 entries, 0 to 911
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand             912 non-null    object
 1   resolution        912 non-null    object
 2   size              912 non-null    int64
 3   selling price     912 non-null    int64
 4   original price    912 non-null    int64
 5   operating system  901 non-null    object
 6   rating            692 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 200.7 KB

In [14]:
grouped_tv = tv.groupby('brand')[['selling price', 'original price', 'rating']].mean()

In [15]:
grouped_tv

                  selling price  original price    rating
brand
acer               31664.666667    43434.444444  3.900000
adsun              15220.428571    27713.285714  3.800000
aisen              35462.500000    41190.000000  3.300000
akai               52002.833333    82190.000000       NaN
blaupunkt          23712.333333    38832.933333  4.242857
bpl                34617.250000    48999.750000  3.700000
candes             13415.666667    24923.333333  4.066667
cloudwalker        32331.333333    45491.111111  4.088889
compaq             45999.000000    83197.200000  4.320000
coocaa             24442.444444    54435.444444  4.244444
croma              22365.666667    31666.666667  4.140000
dektron             6724.000000    10249.000000  4.300000
detel              18110.666667    44999.333333  4.033333
dyanora            15515.666667    23999.000000  3.666667
g-ten              16918.375000    39010.000000  3.825000
haier              36616.222222    54976.722222  4.369231
hisense            89795.400000   100790.000000  4.371429
huidi              18165.666667    26365.666667  4.100000
iffalcon by tcl    54234.421053    99990.473684  4.293750
impex              28819.384615    38383.000000  4.150000
infinix            17165.666667    23329.333333  4.200000
intex              27340.714286    38544.000000  4.185714
jvc                32496.333333    53999.666667  4.050000
kodak              23665.066667    30529.933333  4.300000
krisons             5865.666667     7665.666667       NaN
lg                 96914.401639   135397.909836  4.288636
lloyd              34161.818182    52752.000000  4.066667
lumx               24858.333333    35248.333333  4.000000
marq by flipkart   17749.000000    27624.000000  4.275000
maser               7499.000000     7999.000000  3.800000
mi                 30787.052632    37577.947368  4.322222
micromax           26869.560000    33517.520000  4.132000
motorola           38399.000000    54825.933333  4.333333
murphy             12817.250000    15744.500000  3.100000
nokia              38862.636364    55726.272727  4.272727
oneplus            47375.777778    54199.222222  4.388889
onida              29707.166667    40358.333333  4.308333
onix               34216.250000    39109.875000  4.300000
oxygen             40326.333333    73656.666667       NaN
panasonic          53493.966667    75294.333333  4.184211
philips            34113.823529    63990.588235  4.123529
power guard        30509.727273    41899.090909       NaN
realme             24427.571429    33141.857143  4.285714
rgl                11106.444444    16642.222222  3.888889
samsung           107034.739726   131637.294521  4.265000
sansui             37671.944444    44851.000000  4.138462
sanyo              45499.000000    70990.000000  4.200000
sharp             149672.000000   156656.250000  3.350000
skyworth            8659.000000    12490.000000  3.000000
sony               89342.838710   130393.467742  4.516071
sun king           24999.000000    49998.000000       NaN
t-series           17179.181818    22717.272727  3.800000
tcl                55798.318182    99360.318182  4.219444
thomson            25249.000000    33970.722222  4.300000
toshiba            38852.846154    55069.692308  4.350000
vg                 19492.250000    32125.000000       NaN
vu                 46649.869565    66151.478261  4.356522
weston             43390.000000    43390.000000  4.240000

In [16]:
grouped_tv['count'] = tv['brand'].value_counts()

In [17]:
grouped_tv = grouped_tv.reset_index()

In [18]:
grouped_tv

               brand  selling price  original price    rating  count
0               acer   31664.666667    43434.444444  3.900000      9
1              adsun   15220.428571    27713.285714  3.800000      7
2            aisen     35462.500000    41190.000000  3.300000      8
3              akai    52002.833333    82190.000000       NaN      6
4          blaupunkt   23712.333333    38832.933333  4.242857     15
5               bpl    34617.250000    48999.750000  3.700000      4
6            candes    13415.666667    24923.333333  4.066667     12
7        cloudwalker   32331.333333    45491.111111  4.088889      9
8            compaq    45999.000000    83197.200000  4.320000      5
9            coocaa    24442.444444    54435.444444  4.244444      9
10            croma    22365.666667    31666.666667  4.140000     12
11           dektron    6724.000000    10249.000000  4.300000      4
12            detel    18110.666667    44999.333333  4.033333      3
13           dyanora   15515.666667    23999.000000  3.666667      6
14            g-ten    16918.375000    39010.000000  3.825000      8
15            haier    36616.222222    54976.722222  4.369231     18
16           hisense   89795.400000   100790.000000  4.371429     10
17            huidi    18165.666667    26365.666667  4.100000      6
18   iffalcon by tcl   54234.421053    99990.473684  4.293750     19
19            impex    28819.384615    38383.000000  4.150000     13
20           infinix   17165.666667    23329.333333  4.200000      3
21            intex    27340.714286    38544.000000  4.185714      7
22               jvc   32496.333333    53999.666667  4.050000      6
23            kodak    23665.066667    30529.933333  4.300000     15
24           krisons    5865.666667     7665.666667       NaN      3
25               lg    96914.401639   135397.909836  4.288636    122
26            lloyd    34161.818182    52752.000000  4.066667     22
27             lumx    24858.333333    35248.333333  4.000000      6
28  marq by flipkart   17749.000000    27624.000000  4.275000      8
29            maser     7499.000000     7999.000000  3.800000      1
30               mi    30787.052632    37577.947368  4.322222     19
31          micromax   26869.560000    33517.520000  4.132000     25
32          motorola   38399.000000    54825.933333  4.333333     15
33           murphy    12817.250000    15744.500000  3.100000      4
34            nokia    38862.636364    55726.272727  4.272727     11
35           oneplus   47375.777778    54199.222222  4.388889      9
36             onida   29707.166667    40358.333333  4.308333     12
37             onix    34216.250000    39109.875000  4.300000      8
38           oxygen    40326.333333    73656.666667       NaN      3
39         panasonic   53493.966667    75294.333333  4.184211     30
40           philips   34113.823529    63990.588235  4.123529     17
41       power guard   30509.727273    41899.090909       NaN     11
42           realme    24427.571429    33141.857143  4.285714      7
43              rgl    11106.444444    16642.222222  3.888889      9
44           samsung  107034.739726   131637.294521  4.265000    146
45           sansui    37671.944444    44851.000000  4.138462     18
46            sanyo    45499.000000    70990.000000  4.200000      2
47            sharp   149672.000000   156656.250000  3.350000      8
48          skyworth    8659.000000    12490.000000  3.000000      1
49             sony    89342.838710   130393.467742  4.516071     62
50          sun king   24999.000000    49998.000000       NaN      1
51          t-series   17179.181818    22717.272727  3.800000     11
52              tcl    55798.318182    99360.318182  4.219444     44
53           thomson   25249.000000    33970.722222  4.300000     18
54           toshiba   38852.846154    55069.692308  4.350000     13
55               vg    19492.250000    32125.000000       NaN      4
56                vu   46649.869565    66151.478261  4.356522     23
57           weston    43390.000000    43390.000000  4.240000      5

In [19]:
grouped_tv = grouped_tv.sort_values(by='count', ascending=False)
grouped_tv = grouped_tv.reset_index(drop=True)
grouped_tv

               brand  selling price  original price    rating  count
0            samsung  107034.739726   131637.294521  4.265000    146
1                lg    96914.401639   135397.909836  4.288636    122
2              sony    89342.838710   130393.467742  4.516071     62
3               tcl    55798.318182    99360.318182  4.219444     44
4          panasonic   53493.966667    75294.333333  4.184211     30
5           micromax   26869.560000    33517.520000  4.132000     25
6                 vu   46649.869565    66151.478261  4.356522     23
7             lloyd    34161.818182    52752.000000  4.066667     22
8                mi    30787.052632    37577.947368  4.322222     19
9    iffalcon by tcl   54234.421053    99990.473684  4.293750     19
10           sansui    37671.944444    44851.000000  4.138462     18
11           thomson   25249.000000    33970.722222  4.300000     18
12            haier    36616.222222    54976.722222  4.369231     18
13           philips   34113.823529    63990.588235  4.123529     17
14          motorola   38399.000000    54825.933333  4.333333     15
15            kodak    23665.066667    30529.933333  4.300000     15
16         blaupunkt   23712.333333    38832.933333  4.242857     15
17           toshiba   38852.846154    55069.692308  4.350000     13
18            impex    28819.384615    38383.000000  4.150000     13
19           candes    13415.666667    24923.333333  4.066667     12
20             onida   29707.166667    40358.333333  4.308333     12
21            croma    22365.666667    31666.666667  4.140000     12
22          t-series   17179.181818    22717.272727  3.800000     11
23            nokia    38862.636364    55726.272727  4.272727     11
24       power guard   30509.727273    41899.090909       NaN     11
25           hisense   89795.400000   100790.000000  4.371429     10
26              acer   31664.666667    43434.444444  3.900000      9
27           oneplus   47375.777778    54199.222222  4.388889      9
28              rgl    11106.444444    16642.222222  3.888889      9
29           coocaa    24442.444444    54435.444444  4.244444      9
30       cloudwalker   32331.333333    45491.111111  4.088889      9
31  marq by flipkart   17749.000000    27624.000000  4.275000      8
32            sharp   149672.000000   156656.250000  3.350000      8
33            g-ten    16918.375000    39010.000000  3.825000      8
34             onix    34216.250000    39109.875000  4.300000      8
35           aisen     35462.500000    41190.000000  3.300000      8
36             adsun   15220.428571    27713.285714  3.800000      7
37            intex    27340.714286    38544.000000  4.185714      7
38           realme    24427.571429    33141.857143  4.285714      7
39             lumx    24858.333333    35248.333333  4.000000      6
40            huidi    18165.666667    26365.666667  4.100000      6
41           dyanora   15515.666667    23999.000000  3.666667      6
42             akai    52002.833333    82190.000000       NaN      6
43               jvc   32496.333333    53999.666667  4.050000      6
44           weston    43390.000000    43390.000000  4.240000      5
45           compaq    45999.000000    83197.200000  4.320000      5
46           murphy    12817.250000    15744.500000  3.100000      4
47           dektron    6724.000000    10249.000000  4.300000      4
48               vg    19492.250000    32125.000000       NaN      4
49              bpl    34617.250000    48999.750000  3.700000      4
50           oxygen    40326.333333    73656.666667       NaN      3
51           krisons    5865.666667     7665.666667       NaN      3
52           infinix   17165.666667    23329.333333  4.200000      3
53            detel    18110.666667    44999.333333  4.033333      3
54            sanyo    45499.000000    70990.000000  4.200000      2
55          skyworth    8659.000000    12490.000000  3.000000      1
56          sun king   24999.000000    49998.000000       NaN      1
57            maser     7499.000000     7999.000000  3.800000      1

**Podemos ver que las columnas selling_price y original_price no tiene sentido que este en €. La fuente de donde he extraído los datos no específica en que moneda está. Pero voy a suponer que es en rupias porque el perfil que tiene subido el dataset es india.**

**Para realizar el tipo de cambio de moneda a € voy a coger el de hace 4 meses porque la última actualización fue hace 4 meses**

Tipo de cambio: 1 rupia= 0.011€

In [20]:
grouped_tv['selling price'] = grouped_tv['selling price'] * 0.011

In [21]:
grouped_tv['selling price'] = grouped_tv['selling price'].round(2)

In [22]:
grouped_tv['original price'] = grouped_tv['original price'] * 0.011

In [23]:
grouped_tv['original price'] = grouped_tv['original price'].round(2)

In [24]:
grouped_tv['rating'] = grouped_tv['rating'].round(2)

In [25]:
grouped_tv

               brand  selling price  original price  rating  count
0            samsung        1177.38         1448.01    4.26    146
1                lg         1066.06         1489.38    4.29    122
2              sony          982.77         1434.33    4.52     62
3               tcl          613.78         1092.96    4.22     44
4          panasonic         588.43          828.24    4.18     30
5           micromax         295.57          368.69    4.13     25
6                 vu         513.15          727.67    4.36     23
7             lloyd          375.78          580.27    4.07     22
8                mi          338.66          413.36    4.32     19
9    iffalcon by tcl         596.58         1099.90    4.29     19
10           sansui          414.39          493.36    4.14     18
11           thomson         277.74          373.68    4.30     18
12            haier          402.78          604.74    4.37     18
13           philips         375.25          703.90    4.12     17
14          motorola         422.39          603.09    4.33     15
15            kodak          260.32          335.83    4.30     15
16         blaupunkt         260.84          427.16    4.24     15
17           toshiba         427.38          605.77    4.35     13
18            impex          317.01          422.21    4.15     13
19           candes          147.57          274.16    4.07     12
20             onida         326.78          443.94    4.31     12
21            croma          246.02          348.33    4.14     12
22          t-series         188.97          249.89    3.80     11
23            nokia          427.49          612.99    4.27     11
24       power guard         335.61          460.89     NaN     11
25           hisense         987.75         1108.69    4.37     10
26              acer         348.31          477.78    3.90      9
27           oneplus         521.13          596.19    4.39      9
28              rgl          122.17          183.06    3.89      9
29           coocaa          268.87          598.79    4.24      9
30       cloudwalker         355.64          500.40    4.09      9
31  marq by flipkart         195.24          303.86    4.28      8
32            sharp         1646.39         1723.22    3.35      8
33            g-ten          186.10          429.11    3.82      8
34             onix          376.38          430.21    4.30      8
35           aisen           390.09          453.09    3.30      8
36             adsun         167.42          304.85    3.80      7
37            intex          300.75          423.98    4.19      7
38           realme          268.70          364.56    4.29      7
39             lumx          273.44          387.73    4.00      6
40            huidi          199.82          290.02    4.10      6
41           dyanora         170.67          263.99    3.67      6
42             akai          572.03          904.09     NaN      6
43               jvc         357.46          594.00    4.05      6
44           weston          477.29          477.29    4.24      5
45           compaq          505.99          915.17    4.32      5
46           murphy          140.99          173.19    3.10      4
47           dektron          73.96          112.74    4.30      4
48               vg          214.41          353.38     NaN      4
49              bpl          380.79          539.00    3.70      4
50           oxygen          443.59          810.22     NaN      3
51           krisons          64.52           84.32     NaN      3
52           infinix         188.82          256.62    4.20      3
53            detel          199.22          494.99    4.03      3
54            sanyo          500.49          780.89    4.20      2
55          skyworth          95.25          137.39    3.00      1
56          sun king         274.99          549.98     NaN      1
57            maser           82.49           87.99    3.80      1

**Hay empresas extrañas que igual ni han llegado a España, entonces he decidido que si en el dataset hay menos de 7 productos las elimino**

In [26]:
grouped_tv = grouped_tv.drop(grouped_tv[grouped_tv['count'] < 7].index)

**Creo un indice para poder relacionar las tablas en MySQL**

In [27]:
brand_indice = list(range(1, len(grouped_tv['brand']) + 1))

In [28]:
grouped_tv['brand_indice']=brand_indice

In [29]:
grouped_tv = grouped_tv.rename(columns={'selling price': 'selling_price'})

In [30]:
grouped_tv = grouped_tv.rename(columns={'original price': 'original_price'})

In [31]:
grouped_tv

,brand,selling_price,original_price,rating,count,brand_indice
0,samsung,1177.38,1448.01,4.26,146,1
1,lg,1066.06,1489.38,4.29,122,2
2,sony,982.77,1434.33,4.52,62,3
3,tcl,613.78,1092.96,4.22,44,4
4,panasonic,588.43,828.24,4.18,30,5
5,micromax,295.57,368.69,4.13,25,6
6,vu,513.15,727.67,4.36,23,7
7,lloyd,375.78,580.27,4.07,22,8
8,mi,338.66,413.36,4.32,19,9
9,iffalcon by tcl,596.58,1099.90,4.29,19,10
10,sansui,414.39,493.36,4.14,18,11
11,thomson,277.74,373.68,4.30,18,12
12,haier,402.78,604.74,4.37,18,13
13,philips,375.25,703.90,4.12,17,14
14,motorola,422.39,603.09,4.33,15,15
15,kodak,260.32,335.83,4.30,15,16
16,blaupunkt,260.84,427.16,4.24,15,17
17,toshiba,427.38,605.77,4.35,13,18
18,impex,317.01,422.21,4.15,13,19
19,candes,147.57,274.16,4.07,12,20
20,onida,326.78,443.94,4.31,12,21
21,croma,246.02,348.33,4.14,12,22
22,t-series,188.97,249.89,3.80,11,23
23,nokia,427.49,612.99,4.27,11,24
24,power guard,335.61,460.89,NaN,11,25
25,hisense,987.75,1108.69,4.37,10,26
26,acer,348.31,477.78,3.90,9,27
27,oneplus,521.13,596.19,4.39,9,28
28,rgl,122.17,183.06,3.89,9,29
29,coocaa,268.87,598.79,4.24,9,30
30,cloudwalker,355.64,500.40,4.09,9,31
31,marq by flipkart,195.24,303.86,4.28,8,32
32,sharp,1646.39,1723.22,3.35,8,33
33,g-ten,186.10,429.11,3.82,8,34
34,onix,376.38,430.21,4.30,8,35
35,aisen,390.09,453.09,3.30,8,36
36,adsun,167.42,304.85,3.80,7,37
37,intex,300.75,423.98,4.19,7,38
38,realme,268.70,364.56,4.29,7,39

**Exporto el DataFrame a un CSV para cargarlo en Mysql**

In [32]:
#grouped_tv.to_csv('../csv/tablas_mysql/tv_brands.csv', index=False)