# EXTRACCIÓN Y LIMPIEZA DE TV BRANDS MARKET

Realizado por Lidia Viñuales

In [4]:
import pandas as pd
import numpy as np
import re
import warnings 
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)

In [7]:
tv=pd.read_csv('../csv/TV_final.csv', encoding='iso-8859-1')

In [8]:
tv.head()

,Brand,Resolution,Size,Selling Price,Original Price,Operating System,Rating
0,TOSHIBA,Ultra HD LED,55,37999,54990,VIDAA,4.3
1,TCL,QLED Ultra HD,55,52999,129990,Android,4.4
2,realme,HD LED,32,13999,17999,Android,4.3
3,Mi,HD LED,32,14999,19999,Android,4.4
4,realme,HD LED,32,12999,21999,Android,4.3

**Convierto los nombres de las columnas todas en minúsculas**

In [14]:
tv.columns=tv.columns.str.lower()

In [15]:
tv.columns

Index(['brand', 'resolution', 'size ', 'selling price', 'original price',
       'operating system', 'rating'],
      dtype='object')